@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}


body{
    background: hsl(212, 45%, 89%);
}

.container{
    width: 18%;
    height: 400px;
    background: white;
    border-radius: 10px;
    position: absolute;
    top: 14%;
    left: 30%;
    margin: auto;
    padding: 10px;
}

.image-code{
    width: 98%;
    height: 60%;
    padding-left: 3px;
}
.image-code img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius:10px ;
}
.content h3{
    font-family: "Outfit" sans-serif;
    padding: 10px;
    
}
.content p{
    font-family: "Outfit" sans-serif;
    font-size: 15px;
}


@media screen and (mix-width: 370px){

  
    .container{
        width: 50%;
        height: 330px;
        }
    image-code {
        width: 30%;
    }
}